<%- include("partials/header") %>


    <% data.forEach((person) => { %>
        <p><%= person.name %> is a <%= person.occupation %> at <%= person.company %></p>
    <% }); %>
</body>
</html>


<%- include("partials/footer") %>











